# Configuration for our custom widgets
<Connectivty>
  ConnectionType {{ connectionType }}
</Connectivity>
<Account Information>
  Username {{ username }}
  Password {{ password }}
</Account Information>
<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>
